@model TravelReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}
<div class="row row-details-header">
    <h1>Full Review</h1>
</div>
<div class="container-fluid DetailsContainer">
<div class="row row1">
    <div class="col-md-2 col-sm-12">
        <div class="row subrow">
            <h3 id="username-detail">@Html.DisplayFor(model => model.AuthorUserName)</h3>
        </div>
        <div class="row subrow">
            <img class="avatar" src="https://picsum.photos/200/300/?random" alt="Card image" style="width:100%">
        </div>
    </div>
    <div class="col-md-10 col-small-12 details-text">
        <div class="row subrow2">
            <h3 id="detail-review-title">@Html.DisplayFor(model => model.ReviewTitle)</h3>
        </div>
        <div class="row subrow2">
            <p><b>Description:</b> @Html.DisplayFor(model => model.ContentPreview)</p>
        </div>
        <div class="row subrow2">
            <p><b>Rating:</b> @Html.DisplayFor(model => model.Rating) out of 10</p>
        </div>
        <div class="row subrow2">
            <p><b>Date Reviewed:</b> @Html.DisplayFor(model => model.ReviewDate)</p>
        </div>
        <div class="row subrow2">
            <p><b>Date Travelled:</b> @Html.DisplayFor(model => model.TravelDate)</p>
        </div>
        <div class="row subrow2">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>


    </div>

</div>
    
</div>
